<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" class="form-control" [(ngModel)]="filteredStatus">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()" >Add server</button>
      <br><br>
      <!-- async 是內建非同步 pipe -->
      <h2>App Status: {{ appStatus | async }}</h2>
      <ul class="list-group">
        <!-- filter pipe 過濾資料，不一定是只用在轉換 -->
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus: 'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 5 }}</strong> |
          <!-- | 在 angular template 是 pipe  symbol -->
          {{ server.instanceType |  uppercase }} |
          <!-- pipe 可以透過: 傳遞參數，可以連續 :params:params -->
          <!-- pipes 可以 連鎖依序處理轉換 -->
          {{ server.started | date: 'fullDate' | uppercase}}
        </li>
      </ul>
    </div>
  </div>
</div>
